<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    A Software Engineer trying to grow his skills by cultivating his interests. Currently work for IBM on their NextGeneration Cloud organization. Living a bit out of place on a networking/hardware focused team, so I need some external means to continously expose myself to software and its practices. I use mostly Python and bash, but have dabbled in many of the well known languages (Java, HTML, Javascript, Scala, Haskell, Perl). I'm a sucker for asthetics, and currently use everything themed by <a href=https://draculatheme.com/>the beautiful dracula theme</a>. This site includes my personal thoughts and work; the opinions expressed here are my own and not those of my employer.
</div>
